<main>
    <section class="banners">
        <div>
            <img src="/assets/img/active-anorak.jpg" alt="Active Anorak" />
        </div>
        <div>
            <img src="/assets/img/basic-hoodie.jpg" alt="Basic Hoodie" />
        </div>
        <div>
            <img src="/assets/img/basic-trackpant.jpg" alt="Basic Trackpant" />
        </div>
        <div>
            <img src="/assets/img/collab-fleece.jpg" alt="Collab Fleece" />
        </div>
        <div>
            <img src="/assets/img/cotton-rib.jpg" alt="Cotton Rib" />
        </div>
        <div>
            <img src="/assets/img/essential-fleece.jpg" alt="Essential Fleece" />
        </div>
        <div>
            <img src="/assets/img/tech-trackpant.jpg" alt="Tech Trackpant" />
        </div>
    </section>
    <section class="product-area">
        <!-- TODO: Create product list component -->
    </section>
</main>